@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;400;700;800;900&family=Sriracha&display=swap');

:root {
    --font001: 'Poppins', sans-serif;
    --cor001: rgb(34, 34, 34);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor001);
    font-family: var(--font001);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.navigation {
    background-color: white;
    width: 700px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
